<% title 'Edit Company' %>
<%= javascript 'scriptaculous' %>
<%#= render :partial => '/shared/slideshow' %><div>
<%= render :partial => 'admin/companies/company_slide_show'%>

	<h3>Edit Company Information</h3>
	<div class="clear"></div>
	
	<% form_for(:company, :url=>{:action=>:update}, :html=>{:method=>:put, :multipart => true}) do |f| %>
    <div><%= f.error_messages %></div>
		<table>	  	
		  <%=render :partial => 'company', :locals=>{:f=>f}%>			  		    		  
		</table>
	<% end %>
	<br/>
	<span class="blue_link"><%= link_to 'Show', admin_company_path(@company) %></span>
	<span class="blue_link"><%= link_to 'Back', admin_companies_path %></span>
</div>

	
