<p>
  <b>Name:</b>
  <%=h @career.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @career.email %>
</p>

<p>
  <b>Post:</b>
  <%=h @career.post %>
</p>

<p>
  <b>City:</b>
  <%=h @career.city %>
</p>

<p>
  <b>Tel:</b>
  <%=h @career.tel %>
</p>

<p>
  <b>Mobile:</b>
  <%=h @career.mobile %>
</p>

<p>
  <b>Address:</b>
  <%=h @career.address %>
</p>


<%= link_to 'Edit', edit_career_path(@career) %> |
<%= link_to 'Back', careers_path %>