<% title 'Change Password' %>

<% content_for :header do -%>
	Change my password
<% end -%>
<div id="people">
<div id="screen_1">
<br/>
<% form_for :user, @user, :url => update_password_user_url(@user), :html => {:method => :put} do |f| %>

	<h3>Your current password</h3>

	<p>To prevent abuse, please enter your current password.</p>

	<p><%= password_field_tag 'current_password', '' %></p>
	<div class="clear"></div>
	<h3>Your new password</h3>

	<p>Please enter your new password (and the confirmation) below.</p>

	<p><%= password_field_tag 'new_password', '' %></p>
	<div class="clear"></div>
	<p><%= password_field_tag 'new_password_confirmation', '' %></p>
	<div class="clear"></div>
	<p><%= submit_tag "Change" %> or <%= link_to "forget about it", profile_url(@user) %></p>
	
<% end %>
</div>
</div>
