<% title 'Index' %>
<%= javascript 'dynamic_localities' %>	
<div class="alphabets">
   Select Alphabetical Lisitings:
		<%# @alphabets.each do|alpha| %>
   <h7><%= @alphabets.map{|alpha|  link_to_unless_current(alpha, {:alpha => alpha}){link_to alpha, {:alpha => alpha}, :class => 'current'}}.join(" &nbsp; ")%></h7>			
		<%# end %>			
</div>

		<div id="screen_green">
			<% i = @categories.size %>
			<% if i < 35 %>	
				<div id="list_left">
					<ul>					
						<% @categories[0..i].each do|category| %>
							<li <%= "id='current'" if category.id.to_s == params[:category] %>>
								<%= link_to (category.name), search_url(:q => category.name, :radio=>"category", :alpha=>params[:alpha]), :title => category.name %></li>						
							</li>
						<% end %>												
					</ul>	
				</div>
				<div id="list_right">	
					<ul></ul>						
				</div>
			<% else %>
				<div id="list_left">
					<ul>					
						<% @categories[0..34].each do|category| %>
							<li <%= "id='current'" if category.id.to_s == params[:category] %>>
								<%= link_to (category.name), search_url(:q => category.name, :radio=>"category", :alpha=>params[:alpha]), :title => category.name %></li>						
							</li>
						<% end %>												
					</ul>	
				</div>
				<div id="list_right">			
					<ul>
						<% @categories[35..i].each do|category| %>
							<li <%= "id='current'" if category.id.to_s == params[:category] %>>
							<%= link_to (category.name), search_url(:q => category.name, :radio=>"category", :alpha=>params[:alpha]), :title => category.name %></li>						
							</li>
						<% end %>
					</ul>				
				</div>
			<% end %>
			<div id="page_shift"><%= will_paginate @categories unless @categories.empty? %></div>
		</div>

