<p>
  <b>Name:</b>
  <%=h @review.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @review.email %>
</p>

<p>
  <b>Comment:</b>
  <%=h @review.comment %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
